@mixin common($angle){
    width: 70%;
    transform: rotate($angle);
    &:hover {
        filter: invert(47%) sepia(40%) saturate(4418%) hue-rotate(201deg) brightness(103%) contrast(101%);
    }
}

.right {
    @include common(0deg);
}

.down {
    @include common(90deg);
}

.left {
    @include common(180deg);
}