@import "../../variables.scss";

.boxTitle {
    height: 368px;
    width: 60%;
    display: flex;
    gap: 2rem;
    .boxTitleInfo {
        @include flex(center, flex-start);
        flex-direction: column;
    }

    .nameTitle {
        font-size: 4rem;
        color: $main;
    }

    .profileImg {
        border-radius: 50px;
        width: 40%;
    }

    .iconsDiv {
        @include flex(center, center);
        gap: 20px;

        .icon {
            width: 80px;

            &:hover {
                filter: invert(47%) sepia(40%) saturate(4418%) hue-rotate(201deg) brightness(103%) contrast(101%);
            }
        }
    }
}