.boxTitle {
    padding: 3rem;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.iconsDiv{
    .icon {
        width: 80px;
        &:hover {
            filter: invert(34%) sepia(86%) saturate(607%) hue-rotate(158deg) brightness(93%) contrast(96%);
        }
    }
}