@import "../../variables.scss";


.mainCard {
     transition: 0.5s;
    &:hover {
        scale: 1.025;
    }
}

.button {
    border: 2px solid $secondary;
    padding: 0.1rem 1rem;
    text-decoration: none;
    background-color: $main;
    color: $secondary;
    transition: 0.5s;
    &:hover {
        border-color: $main;
        color: $main;
        background-color: $secondary;
    }
}