@import "bootstrap/scss/bootstrap";
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg3;
}


#root {
    background-image: url(/bg2.svg);
    background-size: 100%;
    min-height: 100vh;
    @include flex(flex-start, flex-start);
    flex-wrap: wrap;
}

.text-box {
    border: 2px solid $secondary;
    border-radius: 20px;
    width: 30%;
    padding: 1rem;
    margin: 2rem 0 0 0;
    max-height: 368px;
    background-color: $main;
    @include flex(center, center);
    p {
        color: $secondary;
        font-size: 1.1rem;
        @media screen and (max-width: 390px){
            font-size: 0.9rem;
        }
    }
    @media screen and (max-width: 1200px){
        width: 90%;
        margin: 5rem auto 0;
    }
}

.accordion{
    width: 90%;
    margin: 3rem;
    @media screen and (max-width: 400px) {
        width: 95%;
        margin: 3rem 1rem;
    }
}

.accordion-button, .accordion-body {
    font-size: 1.1rem;
    background-color: $main;
    color: $secondary;
    border-color: $secondary;
    @media screen and (max-width: 390px){
        font-size: 0.9rem;
    }
}

footer {
    height: 5rem;
    font-size: 1.1rem;
    span {
        font-size: .9rem;
        color: $bg1;
    }
    a {
        transition: .3s;
        text-decoration: none;
        &:hover {
            color: $secondary;
        }
    }
}

.main-color {
    color: $main;
}

.sec-color {
    color: $secondary;
}

.main-bg {
    background-color: $main;
}





