@import "bootstrap/scss/bootstrap";
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    background-color: #c300ef;
    padding: 5rem;
    min-height: 100vh;
    @include flex(flex-start, flex-start);
    gap: 5%;
    flex-wrap: wrap;
}

.text-box {
    border: 2px solid $secondary;
    border-radius: 20px;
    width: 30%;
    padding: 1rem;
    height: 368px;
    background-color: $main;
    @include flex(center, center);
    p {
        color: $secondary;
        font-size: 1.1rem;
    }
}